<!DOCTYPE html>

<html lang="en">
    <meta charset="UTF-8">
   <!--  <meta name="description" content="Välkommen och konsumera sanning i små eller större portioner. Här bjuds det enbart på sanning, och är det inte det så får man klaga. Varnas dock för arga kockar!"> -->
    <link rel="stylesheet" href="/style.css">
</head>

<body style="background-image: url(/images/woodLight.jpg); font-size: 30px; background-repeat: repeat-y; background-size: 100%;"> 
<main id="main">
    {{ block "main" . }}

    {{ end }}
</main>
</body>

</html>