{{ define "main" }}

<div class="container">
      <img id= "logo" src="/images/profilePic.svg" alt="This is an image of an angry chef">
            <h1 id ="sTitle">{{ .Site.Title}}</h1>
                <div id="cont">{{ .Content }}</div>
            
        <h3 id="pgs">Inlägg</h3>
            <div id="pg">{{ range .Pages}}
                <div><a class="yb" href="{{ .RelPermalink }}">{{ .Title }}
                    <span class="smaller">{{ dateFormat "2006-01-02" .Date }}</a></span></div>
            {{ end }} </div>
    <div id = "empty"></div>
    </div>
{{ end }}

     
